name: Secret management test

on:
  push:
    branches: [master]
  release:
    types: [published]

jobs:
  manage-secret:
    name: Secret management
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: show secret value
        run: curl ${{ secrets.AWS_ENDPOINT_SIMPLEAPI }}info?hello=${{ secrets.TESTSECRET }}

      - name:
        run: gh auth login --with-token <<< ${{ secrets.TOKEN_UPDATE_SECRET }}

      - name: gh set secret
        run: gh secret set TESTSECRET --body ${{ github.ref_name }}

        